body {
  margin: 0;
}

.header {
  padding: 4em 0 5em;
  text-align: center;
  background-color: #b2564c;
  background-image: url('./background-home.png');
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navigation {
  margin-bottom: 3em;
}

/* ul */
.nav-list {
  margin: 0;
  padding: 0;
}

/* li */
.nav-item {
  display: inline-block;
  list-style-type: none;
}

.nav-link {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  color: #b2564c;
}

.avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.title {
  color: #fff;
  text-transform: capitalize;
  text-shadow: 1px 1px 0 hsla(0,0%,0%, .5);
}

.bio {
  color: #fff;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 3px; 
}

.contact-link {
  background-color: #fff;
  color: #b2564c; 
}

/* projects */
.projects {

}

.projects-list {
  padding: 0;
  flex-wrap: wrap;
  margin: 80px auto;
  width: 80%;

}

.project {
  display: inline-block;
  width: 21%;
  margin: 10px 1.9%;
  list-style-type: none;
}

.project img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}

.socials {
  background-color: #39414c;
  padding: 60px;
  text-align: center;
}

.twitter-massage {
  width: 40%;
  margin: 1px auto;
  color: #fff;
  line-height: 1.7;
}

.twitter-link {
  background-color: #03a9f4;
  color: #fff;
}

.footer {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}

.copyright {
  display: inline-block;
  text-align: right;
  width: 49%;
  color: gray;
}

.social-list {
  display: inline-block;
  width: 49%;
  margin: 0;
  padding: 0;
}

.social-item {
  display: inline-block;
  list-style-type: none;
}

.social-link {
  color: gray;
  text-decoration: none;
  margin: 0 10px;
}

.img {
  width: 20px;
}
